@switch (part().detailId) {
  @case ('led') {
    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="part().imageUrl" alt="" />
      </div>
      <div class="flex flex-1">
        <p>{{ 'circuit.multivibrator.part.led.summary' | t }}</p>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="images.Leds.led5mmPlacement" alt="" />
      </div>
      <div class="flex flex-1">
        <p>{{ 'circuit.multivibrator.part.led.placement' | t }}</p>
      </div>
    </div>

    <div
      class="mt-4 flex items-start gap-2 rounded-md border-l-4 border-amber-500 bg-amber-50 p-3 text-sm text-amber-900"
      role="note"
    >
      <svg
        viewBox="0 0 24 24"
        fill="currentColor"
        class="mt-0.5 h-5 w-5 shrink-0 text-amber-600"
        aria-hidden="true"
      >
        <path d="M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z" />
      </svg>
      <span>{{ 'circuit.multivibrator.part.led.warning' | t }}</span>
    </div>
  }

  @case ('r22k') {
    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="part().imageUrl" alt="" />
      </div>
      <div class="flex flex-1 flex-col">
        <p>{{ 'circuit.multivibrator.part.r22k.summary' | t }}</p>
        <ul>
          <li>{{ 'circuit.multivibrator.part.r22k.timing' | t }}</li>
          <li>{{ 'circuit.multivibrator.part.r22k.experiment' | t }}</li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="images.Resistors.resistorPlacement" alt="" />
      </div>
      <div class="flex flex-1">
        <p>{{ 'circuit.multivibrator.part.resistor.placement' | t }}</p>
      </div>
    </div>
  }

  @case ('r330') {
    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="part().imageUrl" alt="" />
      </div>
      <div class="flex flex-1 flex-col">
        <p>{{ 'circuit.multivibrator.part.r330.summary' | t }}</p>
        <ul>
          <li>{{ 'circuit.multivibrator.part.r330.why' | t }}</li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="images.Resistors.resistorPlacement" alt="" />
      </div>
      <div class="flex flex-1">
        <p>{{ 'circuit.multivibrator.part.resistor.placement' | t }}</p>
      </div>
    </div>
  }

  @case ('capacitor') {
    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="part().imageUrl" alt="" />
      </div>
      <div class="flex flex-1 flex-col">
        <p>{{ 'circuit.multivibrator.part.capacitor.summary' | t }}</p>
        <ul>
          <li>{{ 'circuit.multivibrator.part.capacitor.how' | t }}</li>
          <li>{{ 'circuit.multivibrator.part.capacitor.polarity' | t }}</li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="images.Capacitors.electrolytePlacement" alt="" />
      </div>
      <div class="flex flex-1">
        <p>{{ 'circuit.multivibrator.part.capacitor.placement' | t }}</p>
      </div>
    </div>
  }

  @case ('transistor') {
    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="part().imageUrl" alt="" />
      </div>
      <div class="flex flex-1 flex-col">
        <p>{{ 'circuit.multivibrator.part.transistor.summary' | t }}</p>
        <ul>
          <li>{{ 'circuit.multivibrator.part.transistor.how' | t }}</li>
          <li>{{ 'circuit.multivibrator.part.transistor.role' | t }}</li>
        </ul>
      </div>
    </div>

    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="images.Transistors.transistorPlacement" alt="" />
      </div>
      <div class="flex flex-1">
        <p>{{ 'circuit.multivibrator.part.transistor.placement' | t }}</p>
      </div>
    </div>
  }

  @case ('usbC') {
    <div class="flex flex-col lg:flex-row gap-2 w-full bg-white p-2">
      <div class="w-60 mx-auto lg:mx-0 rounded-xl">
        <img class="w-full object-contain" [src]="part().imageUrl" alt="" />
      </div>
      <div class="flex flex-1 flex-col">
        <p>{{ 'circuit.multivibrator.part.usbC.summary' | t }}</p>
        <ul>
          <li>{{ 'circuit.multivibrator.part.usbC.source' | t }}</li>
          <li>{{ 'circuit.multivibrator.part.usbC.data' | t }}</li>
        </ul>
      </div>
    </div>
  }
}
